.news-wrapper {
  width: 98%;
  margin: 0 auto;
}
.fetch-search-container {
  width: 93.2%;
  margin: 0 auto;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
}
.fetch-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  /* border: 1px solid blue; */
}
.fetch-search-wrapper {
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

}
.nav-button {
  margin-top: 50px;
  height: 35px;
  font-weight: 600;
  padding: 10px 10px;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  opacity: 9;
  transition: all 1s;
}
.nav-button:hover {
  /* text-decoration: underline; */
  border-bottom: 1px solid gray;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  justify-content: space-evenly;
  margin-top: 50px;
}
