*{
  box-sizing:border-box;
  padding:0;
  margin:0;
  max-width:100%;
}

body {
  margin: 0;
  font-family: 'Old Standard TT', serif;
  font-family: 'Source Serif Pro', serif;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, span, button, a {
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
  color: rgb(29, 29, 29);
  font-weight: 400;
}